pytorch-lightning==2.4.0
torchmetrics==1.5.2
torch==2.4.1
torchvision==0.19.1

# Scientific computing
scipy
numpy

# Data processing and utilities
tqdm
pandas
lmdb
ftfy
regex
msgpack
safetensors
minio
tensorboard

# Image processing and metrics
pytorch-fid==0.2.1
lpips==0.1.4